<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://www.netwitness.com/rta/1.0">
	<id>esacom000079</id>
	<name ref="$module_name"/>
	<desc ref="$module_desc"/>
	<type>ootb</type>
	<severity>3</severity>
	<enabled>false</enabled>
	<last_modified>1727358727</last_modified>
	<revision>1</revision>

	<variables>

		<variable id="learning_days">
			<name ref="$learning_days_name"/>
			<desc ref="$learning_days_desc"/>
			<value type="int">1</value>
		</variable>
		<variable id="group_hours">
			<name ref="$group_hours_name"/>
			<desc ref="$group_hours_desc"/>
			<value type="int">1</value>
		</variable>
	</variables>

</module>