<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://www.netwitness.com/rta/1.0">
	<id>esa000312</id>
	<name ref="$module_name"/>
	<desc ref="$module_desc"/>
	<type>ootb</type>
	<severity>1</severity>
	<enabled>false</enabled>
	<last_modified>1731576135</last_modified>
	<revision>2</revision>
	<variables>
		<variable id="ipsrc_list" is_array="true">
			<name ref="$ipsrc_list_name"/>
			<desc ref="$ipsrc_list_desc"/>
			<value type="string"> </value>
		</variable>
		<variable id="ipdst_list" is_array="true">
			<name ref="$ipdst_list_name"/>
			<desc ref="$ipdst_list_desc"/>
			<value type="string"> </value>
		</variable>
		<variable id="filecontains_list" is_array="true">
			<name ref="$filecontains_list_name"/>
			<desc ref="$filecontains_list_desc"/>
			<value type="string">%passw%txt</value>
			<value type="string">%passw%xls</value>
			<value type="string">%passw%xlsx</value>
			<value type="string">%passw%doc</value>
			<value type="string">%passw%docx</value>
		</variable>
		<variable id="filewhite_list" is_array="true">
			<name ref="$filewhite_list_name"/>
			<desc ref="$filewhite_list_desc"/>
			<value type="string"> </value>
		</variable>
		<variable id="alert_suppression">
			<name ref="$alert_suppression_name"/>
			<desc ref="$alert_suppression_desc"/>
			<value type="int">0</value>
		</variable>
	</variables>
</module>