<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://www.netwitness.com/rta/1.0">
	<id>esa000312</id>
	<name ref="$module_name"/>
	<desc ref="$module_desc"/>
	<type>ootb</type>
	<severity>1</severity>
	<enabled>false</enabled>
	<last_modified>1727358727</last_modified>
	<revision>1</revision>
	<variables>
		<variable id="ipsrc_list" is_array="true">
			<name ref="$ipsrc_list_name"/>
			<desc ref="$ipsrc_list_desc"/>
			<value type="string"> </value>
		</variable>
		<variable id="ipdst_list" is_array="true">
			<name ref="$ipdst_list_name"/>
			<desc ref="$ipdst_list_desc"/>
			<value type="string"> </value>
		</variable>
		<variable id="filecontains_list" is_array="true">
			<name ref="$filecontains_list_name"/>
			<desc ref="$filecontains_list_desc"/>
			<value type="string">passw</value>
		</variable>
		<variable id="filewhite_list" is_array="true">
			<name ref="$filewhite_list_name"/>
			<desc ref="$filewhite_list_desc"/>
			<value type="string"> </value>
		</variable>
		<variable id="ext_list" is_array="true">
			<name ref="$ext_list_name"/>
			<desc ref="$ext_list_desc"/>
			<value type="string">txt</value>
			<value type="string">xls</value>
			<value type="string">xlsx</value>
			<value type="string">doc</value>
			<value type="string">docs</value>
		</variable>
	</variables>
</module>