<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://www.netwitness.com/rta/1.0">
	<id>esa000264</id>
	<name ref="$module_name"/>
	<desc ref="$module_desc"/>
	<type>ootb</type>
	<severity>8</severity>
	<enabled>false</enabled>
	<last_modified>1727358727</last_modified>
	<revision>1</revision>
	<variables>
		<variable id="ip_list" is_array="true">
			<name ref="$ip_list_name"/>
			<desc ref="$ip_list_desc"/>
			<value type="string"> </value>
		</variable>
		<variable id="top10kfeed_enabled">
			<name ref="$top10kfeed_name"/>
			<desc ref="$top10kfeed_desc"/>
			<value type="string">yes</value>
		</variable>
		<variable id="alert_suppression">
			<name ref="$alert_suppression_name"/>
			<desc ref="$alert_suppression_desc"/>
			<value type="int">1800</value>
		</variable>
	</variables>
</module>