<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://www.netwitness.com/rta/1.0">
	<id>esa000288</id>
	<name ref="$module_name"/>
	<desc ref="$module_desc"/>
	<type>ootb</type>
	<severity>7</severity>
	<enabled>false</enabled>
	<last_modified>1727358727</last_modified>
	<revision>1</revision>
	<variables>
		<variable id="ip_list" is_array="true">
			<name ref="$ip_list_name"/>
			<desc ref="$ip_list_desc"/>
			<value type="string"> </value>
		</variable>
	</variables>
</module>