<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://www.netwitness.com/rta/1.0">
	<id>esa000243</id>
	<name ref="$module_name"/>
	<desc ref="$module_desc"/>
	<type>ootb</type>
	<severity>5</severity>
	<enabled>false</enabled>
	<last_modified>1727358727</last_modified>
	<revision>1</revision>
</module>