<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://www.netwitness.com/rta/1.0">
	<id>esa000289</id>
	<name ref="$module_name"/>
	<desc ref="$module_desc"/>
	<type>ootb</type>
	<severity>1</severity>
	<enabled>false</enabled>
	<last_modified>1727358727</last_modified>
	<revision>1</revision>
	<variables>
		<variable id="ip_list" is_array="true">
			<name ref="$ip_list_name"/>
			<desc ref="$ip_list_desc"/>
			<value type="string"> </value>
		</variable>
		<variable id="agent_list" is_array="true">
			<name ref="$agent_list_name"/>
			<desc ref="$agent_list_desc"/>
			<value type="string">Microsoft-Delivery-Optimization</value>
		</variable>
		<variable id="ext_list" is_array="true">
			<name ref="$ext_list_name"/>
			<desc ref="$ext_list_desc"/>
			<value type="string">exe</value>
			<value type="string">vbs</value>
			<value type="string">bat</value>
			<value type="string">ps</value>
			<value type="string">ps1</value>
			<value type="string">dll</value>
			<value type="string">cmd</value>
			<value type="string">zip</value>
			<value type="string">rar</value>
			<value type="string">doc</value>
			<value type="string">docm</value>
			<value type="string">xls</value>
			<value type="string">xlsm</value>
			<value type="string">pptm</value>
		</variable>
		<variable id="domain_list" is_array="true">
			<name ref="$domain_list_name"/>
			<desc ref="$domain_list_desc"/>
			<value type="string">microsoft.com</value>
			<value type="string">office.com</value>
			<value type="string">forcepoint.com</value>
		</variable>
		<variable id="top10kfeed_enabled">
			<name ref="$top10kfeed_name"/>
			<desc ref="$top10kfeed_desc"/>
			<value type="string">yes</value>
		</variable>
		<variable id="alert_suppression">
			<name ref="$alert_suppression_name"/>
			<desc ref="$alert_suppression_desc"/>
			<value type="int">1800</value>
		</variable>
	</variables>
</module>